.bg-body-tertiary {
  position:sticky;
  top: 0;
  z-index: 3;
}

footer {
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0);
}

#signOutButton {
  position: absolute;
  right: 1%;
  padding: 0.2rem;
  margin: 0.2rem;
}

#adminMenu {
  position: absolute;
  right: 8%;
  padding: 0.2rem;
  margin: 0.2rem;
}

a:link {
  text-decoration: none;
}